<div class="container">
  <div  fxFlexFill fxLayout="row" fxLayoutGap="20px" style="width: 100%;"  fxLayoutAlign="center stretch">
    <div fxFlex="25" class="box">1. One</div>
    <div fxFlex="25" class="box">2. Two</div>
    <div fxFlex="25" class="box">2. Two</div>
    <!-- <div fxFlex="25" class="box">2. Two</div> -->
  </div>
</div>