<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<mat-list>
  <mat-list-item> Pepper</mat-list-item>
  <mat-list-item> Salt</mat-list-item>
  <mat-list-item> Paprika</mat-list-item>
</mat-list>
