<mat-card class="all_users">
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of items | async">
        <img class="img" src="{{ item.photoURL }}" alt="">
        {{ item.displayName }}
        {{ item.email }}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 50]">
  </mat-paginator>
</mat-card>
