<mat-toolbar class="main_nav">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between stretch">
    <div>
      <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>call_merge</mat-icon>
        Randomator
      </button>
      <button mat-button routerLink="/all-users" routerLinkActive="active">
        <mat-icon>face</mat-icon>
        Користувачі
      </button>
      <button mat-button routerLink="/all-products" routerLinkActive="active">
        <mat-icon>playlist_add</mat-icon>
        Список продуктів
      </button>
      <button mat-button routerLink="/history" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        Історія
      </button>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">
          <mat-icon>fingerprint</mat-icon>
          <span>Логін</span>
        </button>
        <a href="https://gitlab.com/skochko/randomator" target="_blank" mat-menu-item>
          <mat-icon>code</mat-icon>
          <span>Код на Gitlab</span>
        </a>
        <button mat-menu-item disabled>
          <mat-icon>error_outline</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
