@import 'variables';
.main_nav {
     background:$c1;
}
button{
     color: #ffffff;
     border-bottom: 2px solid transparent;
     border-radius: 0;
     height: 100%;
}
.mat-menu-item{
     color: #000000;
}
.active {
     border-bottom:  2px solid darken($color: $c1, $amount: 30);
}